/* Remove default margin, padding and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adds flexbox and center alignments to the body
also ensuring a minimum viewport height */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  height: 100vh;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0 0 10px 0px;
  font-family: "Big Shoulders Display", serif;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
}

p {
  margin: 20px 0 50px 0px;
  font-family: "Lexend Deca", serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

button {
  margin: 30px 50px 0 0;
  border-radius: 20px;
  padding: 15px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

/* Everything below here will be relating to all the div classes */

.cards {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 90%;
  justify-content: center;
}

/* styling to all three cards */
.SEDANS,
.SUVS,
.LUXURY {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}

/* Here I've added the border-radius and coloring,
 to all three cards */
.SEDANS {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.SUVS {
  background-color: hsl(184, 100%, 22%);
}

.LUXURY {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

/* Here I'm adding the different icons,
to each of the cards and styling them */
.SEDANS .icon {
  background-image: url("./images/icon-sedans.svg");
  background-repeat: no-repeat;
  margin: 10px 0 20px 0;
  height: 64px;
  width: 64px;
}

.SUVS .icon {
  background-image: url("./images/icon-suvs.svg");
  background-repeat: no-repeat;
  margin: 10px 0 20px 0;
  height: 64px;
  width: 64px;
}

.LUXURY .icon {
  background-image: url("./images/icon-luxury.svg");
  background-repeat: no-repeat;
  margin: 10px 0 20px 0;
  height: 64px;
  width: 64px;
}

/* These are to target the button text colors
 to match their respective background colors */
.SEDANS button {
  color: hsl(31, 77%, 52%);
}

.SUVS button {
  color: hsl(184, 100%, 22%);
}

.LUXURY button {
  color: hsl(179, 100%, 13%);
}
